*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
li
{
    list-style: none;
}
.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background: #1b1b1b;
}
.text{
    color: white;
    font-size: 25px;
    font-weight: 600px;
    text-align: center;
    letter-spacing: 1px;
}
.sidebar > ul>li>a{
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
    border-left: 3px solid transparent;
}
.sidebar > ul > li{
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar > ul {
    font-size: 22px;
    text-align: center;
}
.sidebar > ul > li > a:hover{
    color: cyan;
    background: #1e1e1e;
    border-left: 3px solid springgreen;
}
.sidebar ul ul li a {
    padding-left: 80px;
    color: #e6e6e6;
    font-size: 17px;
    display: block;
}
.show {
    display: none;
}
.showclass {
    display: block;
}
.sidebar ul li a span{
    position: absolute;
    top: 32%;
    right: 15px;
}
.sidebar ul li a .rotate{
    transform: rotate(180deg);
}
.sidebar ul ul li a:hover
{
    color: yellow;
    background: #1e1e1e;
}
.btn
{
    position: absolute;
    top: -7px;
    left: 257px;
    width: 45px;
    font-size: 44px;
    cursor: pointer;
}
.click
{
    left: 260px;
}
.show_sidebar{
    left: 0px;
}
.show_one
{
    display: none;
}
.showclass
{
    display: block;
}